REMOTE_USER=''
REMOTE_HOST=''
REMOTE_PASS=''
REMOTE_PORT='22'
REMOTE_DIR=''

SETUP_CRON='1'
CRON_SCHEDULE='0 8 * * *'
CRON_LOG_FILE='logs/monitor.log'

SETUP_ADMIN_SERVICE='1'
ADMIN_HOST='0.0.0.0'
ADMIN_PORT='5959'
ADMIN_LOG_FILE='logs/monitor_admin.log'

# auto: decide automatically
# 1: force local mode (no SSH)
# 0: force remote mode (SSH)
LOCAL_DEPLOY='auto'
